@using Core.Models.Endpoints

@model GetBugViewModel

@{
    ViewData["Title"] = Model.Bug.Title;
}

<div class="bug">
    <div class="bug-header">
        <h1>@Model.Bug.Title</h1>
        <p>@Model.Bug.CreatedOn</p>
    </div>
    <div class="bug-content">
        <div>
            <label>Bug Information</label>
            <div class="bug-info-container">
                <form id="editForm" method="post" asp-controller="Work" asp-action="Update">
                    <input hidden name="Title" value="@Model.Bug.Title" />
                    <input hidden name="CreatedOn" value="@Model.Bug.CreatedOn" />
                    <div>
                        <label>Id</label>
                        <input name="Id" readonly value="@Model.Bug.Id" />
                    </div>
                    <div>
                        <label>Status</label>
                        <input name="Status" class="editable-input" disabled value="@Model.Bug.Status" />
                    </div>
                    <div>
                        <label>Priority</label>
                        <input name="Priority" class="editable-input" disabled value="@Model.Bug.Priority" />
                    </div>
                    <div>
                        <label>Assigned To</label>
                        <select id="assignedTo" name="AssignedTo" class="editable-input" disabled>
                            @if (Model.Users.Any(u => u.Id == Model.Bug.AssignedTo.Id))
                            {
                                @foreach (var user in Model.Users)
                                {
                                    if (user.Id == Model.Bug.AssignedTo.Id)
                                    {
                                        <option selected value="@user.Id">@user.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@user.Id">@user.Name</option>
                                    }
                                }
                            }
                            else
                            {
                                <option value="">N/A</option>
                                @foreach (var user in Model.Users)
                                {
                                    <option value="@user.Id">@user.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div>
                        <label>Submitted By</label>
                        <p>@Model.Bug.CreatedBy</p>
                    </div>
                    <div>
                        <label>Description</label>
                        <textarea name="Description" rows="4" class="editable-input" disabled>@Model.Bug.Description</textarea>
                    </div>
                </form>
            </div>
        </div>
        <div class="bug-action-container">
            <button id="edit-btn" class="submit-btn">Edit</button>
            <button form="editForm" id="save-btn" class="submit-btn">Save</button>
            <a asp-action="Close" asp-controller="Work" asp-route-id="@Model.Bug.Id" class="submit-btn">Mark as fixed</a>
        </div>        
    </div>

    <div class="bug-comments">
        <label>Comments</label>
        <ul class="comments">
            @foreach (var comment in Model.Bug.Comments)
            {
                <li class="comment">
                    <span>@comment.AuthorName</span>
                    <br />
                    <span>@comment.Content</span>
                    <br />
                    <span>@comment.Likes</span>
                </li>
            }
        </ul>
        <div>
            <p>Write comment</p>
            <form asp-action="AddComment" asp-controller="Work" method="post">
                <input id="bugId" type="number" hidden value="@Model.Bug.Id" name="bugId" />
                <input id="authorId" type="text" hidden value="@User.Claims.FirstOrDefault(c => c.Type == "sub")!.Value" name="authorId" />
                <textarea id="content" name="Content"></textarea>

                <button type="submit">Post</button>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    function toggleEdit() {
        const editableInputs = document.getElementsByClassName('editable-input');

        for (let input of editableInputs) {
            if (input.disabled) {
                input.disabled = false;
            }
            else {
                input.disabled = true;
            }
        }
    }

    const editBtn = document.getElementById('edit-btn');

    editBtn.addEventListener('click', toggleEdit);
</script>
