@using Core.Models.Bugs

@model BugViewModel

<div class="bug">

    <h2>@Model.Title</h2>

    <label>Id</label>
    <input disabled value="@Model.Id" />
    <label>Description</label>
    <input disabled value="@Model.Description" />
    <label>Status</label>
    <input disabled value="@Model.Status" />

    <ul class="comments">
        @foreach(var comment in Model.Comments)
        {
            <li class="comment">
                <span>@comment.Content</span>
                <br />
                <span>@comment.Likes</span>
            </li>
        }
    </ul>
</div>
