@using Core.Utilities;
@using Presentation.Controllers;
@using Presentation.Models.Bugs;

@model PagedList<BugViewModel>

<div class="work-container">
    <div class="search-container">
        <h5>Search</h5>
        <form method="" action="Get"></form> 
        </div>
    <div class="item-container">
        <table class="item-table">
            <thead>
                <tr>
                    <th>Priority</th>
                    <th>Status</th>
                    <th>Description</th>
                    <th>Created By</th>
                    <th>Assigned To</th>
                    <th>Lock</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Items.Count == 0)
                {
                    <tr class="no-results">
                        <td></td>
                        <td></td>
                        <td>No Results.</td>
                        <td></td>
                        <td></td>
                    </tr>
                }
                else
                {
                    foreach (var item in Model.Items)
                    {
                        <tr class="item-row">
                            <td>@item.Priority</td>
                            <td>@item.Status</td>
                            <td>@item.Description</td>
                            <td>@item.CreatedBy</td>
                            <td>@item.AssignedTo</td>
                            <td>
                                <a asp-action="Get" asp-route-id="@item.Id">Lock</a> 
                            </td>
                        </tr>
                    }
                }                
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        @Model.PageInfo.CurrentPage / @Model.PageInfo.PageCount
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>